* {
  margin: 0;
  padding: 0; 
}

html {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace; 
}

body {
  width: 100%;
  height: 100%;
  background: #ffffee;
  color: black;
  padding: 50px;
}

#saveChangesBtn {
  box-shadow: 1px 1px 3px rgba(0,0,0,0);
  background-color: rgb(255, 20, 20);
  border-color: rgb(255, 20, 20);
  color:white;
}

#addChoiceBtn {
  box-shadow: 1px 1px 3px rgba(0,0,0,0);

  background-color: blueviolet;
  border-color: blueviolet;
  color:white;
}

#submitBtn {
  box-shadow: 1px 1px 3px rgba(0,0,0,0);

  background-color: rgb(255, 20, 20);
  border-color: rgb(255, 20, 20);
  color:white;
}

ul {
  list-style-type: none;
}

textarea {
  width: 300px;
  height: 100px;
}

button {
  display:inline-block;
  padding:0.7em 1.4em;
  border-radius:12px;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  color:black;
  border: 2px solid black;
  background-color:transparent;
  text-align:center;
}

button:hover {
  transform: translate(-1px,-2px);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.65);
}

button:active {
  transform: translate(0, 0);
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}

a.button {
  display:inline-block;
  padding:0.7em 1.4em;
  border-radius:12px;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  color:black;
  border: 2px solid black;
  background-color:transparent;
  text-align:center; 
}

textarea, input {
  background-color: rgba(220,220,220,0.2);
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 0 0 transparent;
  padding: 10px;
}

textarea:focus, input:focus {
  background-color: rgba(255,255,255,0.3);
  padding: 12px;
}


a.button:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.65);
}

a.button:active {
  transform: translate(0, 0);
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.container {
  height: 100%;
  margin: 20px;
  padding: 1em;
  position: relative; 
  border: 2px solid black;
  max-width: 85%;
  border-radius: 12px;
  background-color: transparent;
}

.prompt {
  margin-top: 1em;
  margin-bottom: 1em;
}

.choiceInput {
  margin: 0.5em;
}

.choiceRadio {
  margin: 0.5em;
}

.newQuestionChoiceInput {
  margin: 0.5em;
}

.newQuestionChoiceRadio {
  margin: 0.5em;
}

.questionDiv {
  margin-bottom: 2em;
}

.correct {
  padding: 0.2em;
  margin: 0.2em;
  background-color: rgb(0, 255, 0, 0.5);
}

.incorrect {
  padding: 0.2em;
  margin: 0.2em;
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

#submitBtn:disabled {
  visibility: hidden;
}
