* {
  margin: 0;
  padding: 0; 
}

html {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace; 
}

body {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
}

section {
  padding: 2rem 0; 
}

h2 {
  margin-left: 1.5em;
}

h3 {
  margin: 1.5em 1em 1em 2.5em;
}

p {
  font-size: 11pt;
  font-weight: 300; 
}

form {
  margin-left: 2.5em;
}

ul {
  list-style-type: none;
}

li {
  margin: 0.5em;
}

textarea {
  width: 300px;
  height: 100px;
}

button {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0.7em;
  border-radius:5px;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  color:black;
  border: 2px solid black;
  background-color:transparent;
  text-align:center; 
}

button:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

button:active {
  transform: translate(0, 0);
  box-shadow: 0px 0px 1px black;
}

a.button {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0.7em;
  border-radius:5px;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  color:black;
  border: 2px solid black;
  background-color:transparent;
  text-align:center; 
}

a.button:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

a.button:active {
  transform: translate(0, 0);
  box-shadow: 0px 0px 1px black;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1em;
  position: relative; 
}

.prompt {
  margin-top: 1em;
  margin-bottom: 1em;
}

.choiceInput {
  margin-left: 0.5em;
}

.choiceRadio {
  margin-right: 0.5em;
}

.newQuestionChoiceInput {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.newQuestionChoiceRadio {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.questionDiv {
  margin-bottom: 2em;
}

.correct {
  padding: 0.2em;
  margin: 0.2em;
  background-color: rgb(95, 225, 95, 0.5);
}

.incorrect {
  padding: 0.2em;
  margin: 0.2em;
  background-color: rgba(225, 95, 95, 0.5);
}

#addChoiceBtn {
  background-color: rgb(187, 104, 49);
  margin: 2em 2em 2em 1em;
}

#submitBtn {
  background-color: rgb(76, 180, 76);
}

#saveChangesBtn {
  background-color: rgb(82, 82, 226);
}

#submitBtn:disabled {
  visibility: hidden;
}

#finalScore {
  margin-bottom: 1em;
  margin-left: 3em;
}

#noQuestions {
  margin: 2em 1em 1em 2.5em;
} 

#choiceLimit {
  margin: 2em 0.5em 0em 1em;
  color: rgb(192, 36, 36);
}
